@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Onest', sans-serif;
}

h1, h2, .boldonse{
    font-family: 'Boldonse', sans-serif;
}